name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: set up JDK 21
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 21
        distribution: 'liberica'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    # 1. 运行 Gradle 任务：构建 Debug APK/AAB 并执行单元测试
    - name: Build Debug APK/AAB and Run Tests
      run: ./gradlew assembleDebug bundleDebug testDebugUnitTest

    # 2. 上传 Debug APK 文件
    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: app/build/outputs/apk/debug/*.apk

    # 3. 上传 Debug AAB 文件
    - name: Upload debug AAB
      uses: actions/upload-artifact@v4
      with:
        name: debug-aab
        path: app/build/outputs/bundle/debug/*.aab

    # 4. 上传单元测试报告
    - name: Upload test reports
      uses: actions/upload-artifact@v4
      if: always() # 即使测试失败，也尝试上传报告
      with:
        name: test-reports
        path: app/build/reports/tests/testDebugUnitTest/
